
@{
    ViewBag.Title = "about";
    Layout = "~/Views/_Layoutwithnavigationbar.cshtml";
}

<div class="grid_3">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <!--  <a href="index.html"> <i class="fa fa-home home_1"></i> </a> -->
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">About</li>
            </ul>
        </div>
        <div class="about">
            <div class="col-md-6 about_left">
                <img src="~/images2/a3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6 about_right">
                <h1>About us</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <div class="accordation">
                    <div class="jb-accordion-wrapper">
                        <div class="jb-accordion-title">Accordion 1 <button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion-1-"><i class="fa fa-angle-down"> </i></button></div>
                        <p>
                            <!-- /.accordion-title -->
                        </p><div id="accordion-1-" class="jb-accordion-content collapse in" style="height: auto;">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae...</p>
                        </div>
                        <p><!-- /.collapse --></p>
                    </div>
                    <div class="jb-accordion-wrapper">
                        <div class="jb-accordion-title">Accordion2 <button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion2-"><i class="fa fa-angle-down"> </i></button></div>
                        <p>
                            <!-- /.accordion-title -->
                        </p><div id="accordion2-" class="jb-accordion-content collapse ">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt </p>
                        </div>
                        <p><!-- /.collapse --></p>
                    </div>
                    <div class="jb-accordion-wrapper">
                        <div class="jb-accordion-title">Accordion3<button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion3"><i class="fa fa-angle-down"> </i></button></div>
                        <p>
                            <!-- /.accordion-title -->
                        </p><div id="accordion3" class="jb-accordion-content collapse ">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt </p>
                        </div>
                        <p><!-- /.collapse --></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        </div>
</div>