
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/_Layoutwithnavigationbar.cshtml";
}


<div class="grid_3">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <a href="index.html"><i class="fa fa-home home_1"></i></a>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">Contact</li>
            </ul>
        </div>
        <div class="grid_5">
            <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient. montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p>
            <address class="addr row">
                <dl class="grid_4">
                    <dt>Address :</dt>
                    <dd>
                        8901 Nulla Pariatur, <br>
                        Ipsum, D05 87GR.
                    </dd>
                </dl>
                <dl class="grid_4">
                    <dt>Telephones :</dt>
                    <dd>
                        +1 800 245 4578 <br>
                        +1 800 789 5478
                    </dd>
                </dl>
                <dl class="grid_4">
                    <dt>E-mail :</dt>
                    <dd><a href="malito:mail@demolink.org">mail(at)Marital.com</a></dd>
                </dl>
            </address>
        </div>
        <!---728x90--->

    </div>
</div>
<div class="about_middle">
    <div class="container">
        <h2>Contact Form</h2>
        <form id="contact-form" class="contact-form">
            <fieldset>
                <input type="text" class="text" placeholder="" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                <input type="text" class="text" placeholder="" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                <input type="text" class="text" placeholder="" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                <input name="submit" type="submit" id="submit" value="Submit">
            </fieldset>
        </form>
        <!---728x90--->

    </div>
</div>
