
@{
    ViewBag.Title = "services";
    Layout = "~/Views/_Layoutwithnavigationbar.cshtml";
}

<div class="grid_3">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <a href="index.html"><i class="fa fa-home home_1"></i></a>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">Services</li>
            </ul>
        </div>
        <div class="services">
            <div class="page_header">
                <h1>Services</h1>
                <h3>There are many variations of passages of Lorem Ipsum available</h3>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>


            <div class="services_top">
                <div class="col-sm-4 item_content">
                    <i class="fa fa-heart-o icon_4"> </i>
                    <h4>Lorem ipsum dolor</h4>
                    <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                </div>
                <div class="col-sm-4 item_content">
                    <i class="fa fa-lemon-o icon_4"> </i>
                    <h4>Lorem ipsum dolor</h4>
                    <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                </div>
                <div class="col-sm-4 item_content">
                    <i class="fa fa-thumbs-o-up icon_4"> </i>
                    <h4>Lorem ipsum dolor</h4>
                    <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!---728x90--->

            <div class="services_top1">
                <div class="col-sm-4 item_content">
                    <i class="fa fa-smile-o icon_4"> </i>
                    <h4>Lorem ipsum dolor</h4>
                    <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                </div>
                <div class="col-sm-4 item_content">
                    <i class="fa fa-wheelchair icon_4"> </i>
                    <h4>Lorem ipsum dolor</h4>
                    <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                </div>
                <div class="col-sm-4 item_content">
                    <i class="fa fa-spinner icon_4"> </i>
                    <h4>Lorem ipsum dolor</h4>
                    <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>


